.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  height: 50px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: 30px;
  border-color: #ffffff;
  border-width: 0px;
  padding-bottom: 30px;
  justify-content: center;
  background-color: #000000;
}
.home-text {
  color: #ffffff;
}
.home-container02 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-start;
  background-color: var(--dl-color-gray-black);
}
.home-social-bar {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 10px;
  border-color: #000000;
  border-width: 1px;
  justify-content: center;
  background-color: #000000;
}
.home-link {
  display: contents;
}
.home-icon {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link01 {
  display: contents;
}
.home-icon02 {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link02 {
  display: contents;
}
.home-icon04 {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link03 {
  display: contents;
}
.home-icon06 {
  fill: var(--dl-color-gray-900);
  color: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link04 {
  display: contents;
}
.home-icon08 {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-container03 {
  flex: 0 0 auto;
  width: 450px;
  height: 100px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: 0px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.home-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container06 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container07 {
  width: 450px;
  height: 40px;
  display: flex;
  min-width: 100;
  margin-top: 15px;
  align-items: flex-start;
  margin-bottom: 15px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 1%;
  display: flex;
  align-items: flex-start;
}
.home-container09 {
  width: 508px;
  height: 200px;
  display: flex;
  min-width: 100;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-container11 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link05 {
  display: contents;
}
.home-image {
  width: 200px;
  height: 200px;
  object-fit: fill;
  transition: 0.3s;
  text-decoration: none;
}
.home-image:hover {
  transform: scale(1.1);
  transition: transform .2s;
}
.home-container12 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;
  padding-bottom: 30px;
}
.home-link06 {
  display: contents;
}
.home-text06 {
  text-decoration: none;
}
.home-text08 {
  font-style: italic;
}
.home-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
}
.home-container14 {
  width: 508px;
  height: 200px;
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-container16 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link07 {
  display: contents;
}
.home-image1 {
  width: 200px;
  height: 200px;
  object-fit: fill;
  transition: 0.3s;
  text-decoration: none;
}
.home-image1:hover {
  transform: scale(1.1);
  transition: transform .2s;
}
.home-container17 {
  width: 100%;
  height: 198px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;
  padding-bottom: 30px;
}
.home-link08 {
  display: contents;
}
.home-text09 {
  text-decoration: none;
}
.home-text13 {
  font-style: italic;
}
.home-container18 {
  width: 508px;
  height: 200px;
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-container20 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link09 {
  display: contents;
}
.home-image2 {
  width: 200px;
  height: 200px;
  object-fit: fill;
  transition: 0.3s;
  text-decoration: none;
}
.home-image2:hover {
  transform: scale(1.1);
  transition: transform .2s;
}
.home-container21 {
  width: 100%;
  height: 198px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;
  padding-bottom: 30px;
}
.home-link10 {
  display: contents;
}
.home-text14 {
  text-decoration: none;
}
.home-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
}
.home-container23 {
  width: 508px;
  height: 200px;
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container24 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-container25 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link11 {
  display: contents;
}
.home-image3 {
  width: 200px;
  height: 200px;
  object-fit: fill;
  transition: 0.3s;
  text-decoration: none;
}
.home-image3:hover {
  transform: scale(1.1);
  transition: transform .2s;
}
.home-container26 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;
  padding-bottom: 30px;
}
.home-link12 {
  display: contents;
}
.home-text18 {
  text-decoration: none;
}
.home-text20 {
  font-style: italic;
}
.home-container27 {
  width: 508px;
  height: 200px;
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container28 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-container29 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link13 {
  display: contents;
}
.home-image4 {
  width: 200px;
  height: 200px;
  object-fit: fill;
  transition: 0.3s;
  text-decoration: none;
}
.home-image4:hover {
  transform: scale(1.1);
  transition: transform .2s;
}
.home-container30 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;
  padding-bottom: 30px;
}
.home-link14 {
  display: contents;
}
.home-text21 {
  text-decoration: none;
}
.home-container31 {
  flex: 0 0 auto;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
}
.home-container32 {
  flex: 0 0 auto;
  width: 100%;
  height: 20px;
  display: flex;
  margin-top: 0px;
  align-items: center;
  padding-top: 20px;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  padding-bottom: 20px;
  justify-content: center;
  background-color: #000000;
}
.home-text23 {
  color: #ffffff;
}
@media(max-width: 991px) {
  .home-container03 {
    width: 50%;
    height: auto;
    flex-wrap: wrap;
  }
  .home-container06 {
    height: auto;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-container07 {
    width: 50%;
  }
  .home-container09 {
    flex: 1;
  }
  .home-container11 {
    flex: 1;
  }
  .home-image {
    flex: 0;
  }
  .home-container12 {
    flex: 1;
  }
  .home-container13 {
    height: 1px;
  }
  .home-container14 {
    flex: 1;
  }
  .home-container16 {
    flex: 1;
  }
  .home-image1 {
    flex: 1;
  }
  .home-container17 {
    flex: 1;
  }
  .home-container18 {
    flex: 1;
  }
  .home-container20 {
    flex: 1;
  }
  .home-image2 {
    flex: 1;
  }
  .home-container21 {
    flex: 1;
  }
  .home-text14 {
    text-decoration: none;
  }
  .home-container22 {
    height: 1px;
  }
  .home-container23 {
    flex: 1;
    width: 505px;
  }
  .home-container24 {
    padding-top: 20px;
  }
  .home-container25 {
    flex: 1;
  }
  .home-image3 {
    flex: 1;
    align-self: flex-start;
  }
  .home-container26 {
    flex: 1;
  }
  .home-container27 {
    flex: 1;
    width: 505px;
  }
  .home-container28 {
    padding-top: 20px;
  }
  .home-container29 {
    flex: 1;
  }
  .home-image4 {
    flex: 1;
    align-self: flex-start;
  }
  .home-container30 {
    flex: 1;
  }
  .home-container31 {
    height: 1px;
  }
  .home-container32 {
    height: 1px;
  }
}
@media(max-width: 767px) {
  .home-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container03 {
    width: 60%;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 1px;
    padding-right: 1px;
  }
  .home-container06 {
    height: auto;
  }
  .home-container07 {
    width: 60%;
  }
  .home-container09 {
    width: 70%;
  }
  .home-container14 {
    width: 70%;
  }
  .home-container17 {
    width: 324px;
  }
  .home-text09 {
    text-decoration: none;
  }
  .home-container18 {
    width: 70%;
  }
  .home-container21 {
    width: 324px;
  }
  .home-text14 {
    text-decoration: none;
  }
  .home-container23 {
    width: 70%;
  }
  .home-container24 {
    margin-top: 20px;
    padding-top: 0px;
  }
  .home-container27 {
    width: 70%;
  }
  .home-container28 {
    margin-top: 20px;
    padding-top: 0px;
  }
  .home-container31 {
    height: 20px;
  }
}
@media(max-width: 479px) {
  .home-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container03 {
    width: 90%;
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-container06 {
    width: 90%;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .home-container12 {
    padding: 20px;
    align-self: center;
  }
  .home-container14 {
    margin-bottom: 20px;
  }
  .home-container17 {
    padding: 20px;
    justify-content: center;
  }
  .home-container18 {
    margin-bottom: 20px;
  }
  .home-container21 {
    padding: 20px;
  }
  .home-text14 {
    text-decoration: none;
  }
  .home-container23 {
    margin-bottom: 20px;
  }
  .home-container24 {
    align-self: center;
  }
  .home-container26 {
    padding: 20px;
  }
  .home-container27 {
    margin-bottom: 20px;
  }
  .home-container28 {
    align-self: center;
  }
  .home-container30 {
    padding: 20px;
  }
}
